<mat-card>
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button mat-list-item routerLink="/admin/add-category">
            <mat-icon mat-list-icon>add</mat-icon>Add new Category
        </button>
        <button mat-list-item routerLink="/admin/category">
            <mat-icon mat-list-icon>list</mat-icon>Categories
        </button>
        <button mat-list-item routerLink="/admin/add-quiz">
            <mat-icon mat-list-icon >add</mat-icon>Add new Quiz
        </button>
        <button mat-list-item routerLink="/admin/quiz">
            <mat-icon mat-list-icon >quiz</mat-icon>Quizzes
        </button>
    </mat-action-list>
</mat-card>