<div class="container">
    <div class="row text-center">
        <h2>
            What year was PRYZM Bristol built?
        </h2>
        <div class="example-container">
            <mat-form-field appearance="outline" style="width: 500px;">
                <mat-label>Answer Here</mat-label>
                <input matInput >
            </mat-form-field>
        </div>
        <div class="d-flex align-items-center justify-content-center">
        <div class="d-flex flex-column">
            <img src="https://img.icons8.com/ios-glyphs/100/000000/chevron-left.png"
                style="height: 150px; width: 150px;" />
            <button mat-button style="width: 150px;">Previous Question</button>
        </div>
        <div>
        <button type="button" class="btn btn-outline-success mb-4" style="width: 80px; height: 80px;">Submit Answer</button>
    </div>
        <div class="d-flex flex-column">
            <img src="https://img.icons8.com/ios-glyphs/100/000000/chevron-right.png"
                style="height: 150px; width: 150px;" />
                <button mat-button style="width: 150px;">Next Question</button>
        </div>
        </div>
    </div>
    
</div>