<div class="container">
    <div class="row">
        <a routerLink="" style="color: black; font-size:19px;" class="mt-4">Edit Password</a>
        <h1 class="mt-4">Player Stats</h1>
        <div class="w-50">
            <table class="table table-striped table-primary">
                <tbody>
                    <tr class="table-primary">
                        <th class="table-primary bd">Events Completed</th>
                        <td class="table-primary">
                            Abc
                        </td>
                    </tr>
                    <tr class="table-primary">
                        <th class="table-primary bd">Questions answered
                        </th>
                        <td class="table-primary">
                            Abc
                        </td>
                    </tr>

                    <tr class="table-primary">
                        <th class="table-primary bd">Questions correct
                        </th>
                        <td class="table-primary">
                            Abc
                        </td>
                    </tr>
                    <tr class="table-primary">
                        <th class="table-primary bd">Best finishing position

                        </th>
                        <td class="table-primary">
                            Abc
                        </td>
                    </tr>
                    <tr class="table-primary">
                        <th class="table-primary bd">Average finishing position

                        </th>
                        <td class="table-primary">
                            Abc
                        </td>
                    </tr>
                    <tr class="table-primary">
                        <th class="table-primary bd">Overall ranking
                        </th>
                        <td class="table-primary">
                            Abc
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>