<div class="container">
    <div class="row text-center">
      <h1 style="font-size:36px;" class="mt-4">
        User Registration
      </h1>
      <div class="example-container">
        <mat-form-field appearance="outline" class="w-50">
          <mat-label>Username</mat-label>
          <input matInput [formControl]="username" required>
        </mat-form-field>
      </div>
      <div class="example-container">
  
        <mat-form-field appearance="outline" class="w-50">
          <mat-label>UoB email </mat-label>
          <input matInput [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="example-container ">
        <mat-form-field appearance="outline" class="w-50">
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div>
  
        <button type="button" class="btn green m-3" (click)=onSignup()>Submit</button>
      </div>
    </div>
  </div>
