<div class="container">
    <div class="row text-center">
        <h1 style="font-size:36px;" class="mt-4">
            Cool text welcoming players to the CHASER site
        </h1>
        <div class="marginTop">
        <div class="text-center">
            <button type="button" class="btn blue p-4 m-3">Play as Guest</button>
        </div>
        <div >
            <button type="button" class="btn green p-4 m-3">Go to game site</button>
            <button type="button" class="btn  yellow p-4 m-3" routerLink="/working">How it works</button>
        </div>
    </div>
    </div>

</div>