<h2 class="mt20">
    Add Questions to {{qtitle}}
</h2>
<div class="bootstrap-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="container text-center mb-3 ">
                <button mat-raised-button class="blue" [routerLink]="'/admin/add-questions/' + qid + '/' +qtitle ">Add
                    Questions</button>
            </div>
            <mat-card *ngFor="let quest of questions ; let i=index">
                <mat-card-content>
                    <p>
                        Q-{{i+1}}
                        <span>
                            {{quest.content}}
                        </span>
                    </p>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <p>
                                   1) {{quest.option1}}
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p>
                                   2) {{quest.option2}}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p>
                                   3) {{quest.option3}}
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p>
                                   4) {{quest.option4}}
                                </p>
                            </div>
                        </div>
                    </div>
                 <mat-divider>
                     <p>
                         <b>
                             Correct Answer:
                         </b>
                         {{quest.answer}}
                     </p>
                 </mat-divider>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>